<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Ajouter un nouveau responsable</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Nom</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Nom">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName" class="label">Prénom</label>
                <input type="text" nbInput fullWidth id="inputLastName" placeholder="Prénom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Email</label>
                <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCin" class="label">CIN</label>
                <input type="text" nbInput fullWidth id="inputCin" placeholder="CIN">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="password" class="label">Mot de passe</label>
                <input type="password" nbInput fullWidth placeholder="Mot de passe">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCin" class="label">Centre</label>
                <div >
                    <nb-card>
                        <nb-select fullWidth selected="1" nbSearch>
                          <nb-option value="1">aaaaaaa</nb-option>
                          <nb-option value="2">aaafrfr</nb-option>
                        </nb-select>
                    </nb-card>
                  </div>
              </div>
            </div>
            
          </div>
          <button type="submit" nbButton status="warning">Ajouter</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
  
  
  
  